/* Adjust page and sidebar widths */
:root {
    --sidebar-width: 280px;  /* Default is 15rem (~240px), adjust as needed */
    --content-width: 60rem;  /* Default is 46rem, adjust for wider content */
}



/* Replace sidebar brand text with "Home" */
.sidebar-brand-text {
    font-size: 0;
}
.sidebar-brand-text::before {
    content: "Home";
    font-size: 1rem;
}

/* Hide only the "Made with Furo" section; keep copyright */
.bottom-of-page .right-details {
    display: none;
}
